body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #181717;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.albumImage {
  width: 70px;
  height: 70px;
}

.track {
  border: 1px solid black;
}

.chartPosition {
  color: #1ed65f;
}

.trackDetails {
  margin-left: 20px;
}
